

.box{
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: solid black;
    box-shadow: 6px 6px 6px 6px green;
    border-radius: 100px;
    text-align: center;
}

.box.center{
    margin: 0 auto;
}



li{
    display: inline-block;
    padding: 5px;
    text-align: center;
}